@model VisualizarProdutosViewModel

@{
    ViewBag.Titulo = "Visualização de Produtos";
}

<h1 class="texto text-center">Visualizando Produtos</h1>

<p>
    <a class="btn btn-dark px-4 fundo-card" href="/produtos/cadastrar">
        <i class="bi bi-plus"></i>
        Cadastrar Novo/a
    </a>
</p>

<div class="d-flex flex-wrap gap-2">
    @foreach (var item in Model.Registros)
    {
        <div class="col-12 col-md-3">
            <div class="card border-0">
                <div class="card-body fundo-card">
                    <h5 class="card-title">Produto: @item.Nome</h5>
                    <p class="card-text"><span class="fw-semibold">Valor:</span> @item.Preco.ToString("C2")</p>

                    <span class="d-flex gap-1 justify-content-end mt-4">
                        <a href="/produtos/editar/@item.Id" class="btn btn-primary opcao-card">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a href="/produtos/excluir/@item.Id" class="btn btn-danger opcao-card">
                            <i class="bi bi-trash"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    }
</div>
