<nav class="navbar navbar-expand-lg minhanavbar animate__animated animate__slideInDown">
	<div class="container">

		<a class="navbar-brand" href="#">
			<img src="~/imagens/logo.png" alt="Logo AS" style="max-height: 40px">
		</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse justify-content-end fs-5" id="navbarNav">
			<ul class="navbar-nav gap-3">
				<li class="nav-item">
					<a class="nav-link" href="/">
						<i class="fas fa-home me-2"></i> Início
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/mesas">
						<i class="fas fa-chair me-2"></i> Mesas
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/garcons">
						<i class="fas fa-user-tie me-2"></i> Garçons
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/produtos">
						<i class="fas fa-champagne-glasses me-2"></i> Produtos
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contas">
						<i class="fas fa-cash-register me-2"></i> Contas
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>