﻿@using Controle_de_Bar.WebApp.Models

@model CadastrarMesaViewModel

@{
    ViewBag.Titulo = "Cadastro de Mesa";
}

<h1 class="texto text-center">Cadastro de Mesas</h1>

<div class="row justify-content-center my-5">
    <div class="col-md-8">
        <div class="card border-0">
            <div class="card-body p-md-5 fundo-card">
                <form asp-action="Cadastrar">
                    <h3>Formulário de Cadastro</h3>

                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="Numero" class="control-label fs-5">Número:</label>
                        <input asp-for="Numero" class="form-control meu-input" placeholder="Digite o número da Mesa"  value="@Model.Numero" />
                        <span asp-validation-for="Numero" class="text-danger"></span>

                    </div>
                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="Lugares" class="control-label fs-5">Capacidade:</label>
                        <input asp-for="Lugares" class="form-control meu-input" placeholder="Digite a quantidade de lugares"  value="@Model.Lugares" />
                        <span asp-validation-for="Lugares" class="text-danger"></span>

                    </div>
                    <div class="form-group d-flex align-items-center justify-content-end gap-3 mt-5">
                        <a href="/mesas" class="texto-card">Voltar para a listagem</a>
                        <button type="submit" class="btn btn-success rounded-3 px-5">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}