:root {
    --fundo: #CCC9DC;
    --navbar: #0C1821;
    --card: #1B2A41;
    --card-texto: #CCC9DC;
    --texto: #1B2A41;
    --navbar-texto: #D8DCFF;
}

body {
    background-color: var(--fundo);
    font-family: 'Inter', sans-serif;
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 600;
}

p {
    font-weight: 500;
}

.minhanavbar {
    background-color: var(--navbar);
}

    .minhanavbar a {
        color: var(--navbar-texto);
    }

    .minhanavbar .nav-link:hover {
        background-color: var(--fundo);
        color: var(--navbar);
        border-radius: 15px;
    }

.texto {
    color: var(--texto);
}

.texto-card {
    color: var(--card-texto);
}

.header {
    background-color: #151d29;
    height: 100vh;
}

.fundo-card {
    background-color: var(--card);
    color: var(--card-texto);
}
.opcao-card {
    max-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meu-input {
    background-color: var(--fundo);
    color: black;
}

    .meu-input:focus {
        background-color: var(--fundo);       
        box-shadow: var(--navbar);
        border: 3px solid var(--navbar);
    }


    @media (max-width: 500px) {
        .header {
        height: 40vh;
    }
}